<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programadornovato.medinako">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_medinako_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_medinako_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMysql"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.programadornovato.medinako.CrearMedidor"
            android:exported="false" />
        <activity
            android:name="com.programadornovato.medinako.Entrenar"
            android:exported="false" />
        <activity android:name="com.programadornovato.medinako.Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>